datasets
jiwer
torchinfo
transformers>=4.12.5
unidic-lite
ipadic
mecab-python3
fugashi
matplotlib
numpy
opencv-python
pandas
Pillow
pytest
scikit-image
scikit-learn
scipy
torch
torchvision
tqdm
wandb
fire
budou
albumentations>=1.1
html2image
